/*--------------------------------------------------------
3 Filtros
---------------------------------------------------------*/

#wrapper {
    width: 100%;
    position: relative;
    text-align: left;
}

.group {
    zoom: 1;
}

.group:after {
    clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.scheduleIntro {
    padding: 0;
}

.span_2_of_12 {
    width: 15.33%;
}

.span_3_of_12 {
    width: 23.8%;
}

.span_4_of_12 {
    width: 32.26%;
}

.span_1_of_12 {
    width: 6.86%;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.5%;
}

.schedule {
    text-transform: uppercase;
    margin-top: 68px;
    width: 90%;
    margin: 0 auto;
}

.section.group.scheduleFilters {
    width: 95%;
    margin: 0 auto;
}

.weekly {
    width: 50%;
    float: left;
}

.weekly .icon.active {
    background: url('../images/calendarIcon.png') no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    float: right;
    margin-right: 5px;
}

.weekly .icon.active:hover {
    background: url('../images/calendario.png') no-repeat;
}
.weekly .icon:hover {
    background: url('../images/calendarIcon.png') no-repeat;
}
.weekly .icon {
    cursor: pointer;
    background: url('../images/calendario.png') no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    float: right;
    margin-right: 5px;
}

.daily {
    width: 50%;
    float: left;
}
.dailyClasses{
  min-height: 200px;
}
.scheduleFilters div p {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.077em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3a3a3b;
}

p.type {
    text-transform: uppercase;
    margin-top: 23px;
    display: block;
    letter-spacing: 1px;
    float: left;
    margin-bottom: 40px;
    color: #3a3a3b;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.calendarMode p.style {
    text-transform: uppercase;
    margin-top: 0;
    display: block;
    font-weight: 600;
    color: #3a3a3b;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 26px;
}

.daily .icon:hover {
    background: url('../images/calendaricon2.png') no-repeat;
}
.daily .icon {
    cursor: pointer;
    background: url('../images/calendario_dia.png') no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    float: left;
    margin-left: 5px;
}

.daily .icon.active:hover {
    background: url('../images/calendario_dia.png') no-repeat;
}
.daily .icon.active {
    background: url('../images/calendaricon2.png') no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    float: left;
    margin-left: 5px;
}

.gymLocation p,
.gymActivities p {
    text-align: left;
    margin-bottom: 17px;
}

.searchGym,
.searchClass {
    width: 100%;
    background: url('../images/lupa.png') no-repeat;
    background-position: 202px;
    background-color: #f5f3ec;
    border-radius: 2px;
}

.searchGym input:valid,
.searchClass input:valid {
    color: #565656;
    font-family: 'Lato-Bold';
}

.searchGym input,
.searchClass input {
    font-size: 1.077em;
    font-family: 'Lato-Bold';
    border: 0;
    color: #565656;
    border-radius: 0;
    background: #f5f3ec;
    box-shadow: none;
    letter-spacing: 1px;
    margin: 11px 0 9px 19px;
    height: 17px;
}

.optionsGym {
    display: none;
    width: 100%;
    height: 304px;
    padding-top: 8px;
    background-color: #e5e0ce;
    /*  background-color: var(--pinkish-grey);*/
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.29);
}

.optionsClass {
    display: none;
    width: 100%;
    height: 242px;
    padding-top: 8px;
    background-color: #e5e0ce;
    /*  background-color: var(--pinkish-grey);*/
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.29);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 14px;
    height: 11px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background: url(../images/check.png)no-repeat;
}

input[type="checkbox"]:checked + label {
    opacity: 0.7;
    font-family: 'Lato-bold';
    font-size: 1em;
    line-height: 1.82;
    color: #ffffff;
    color: var(--white);
}

.optionsGym h3 {
    font-family: 'Lato-Bold';
    font-size: 1em;
    margin-left: 29px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #424242;
}

.optionsGym ul li {
    padding-left: 17px;
}

.optionsGym ul li label {
    opacity: 0.5;
    font-family: 'Lato-Regular';
    line-height: 1.82;
    font-size: 1em;
    color: #ffffff;
    color: var(--white);
}

.intensityLevel.group.section {
    margin: 0 auto;
}

.optionsClass h3 {
    cursor: pointer;
    font-family: 'Lato-Bold';
    font-size: 1em;
    margin-left: 29px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #424242;
}

.optionsClass ul li {
    padding-left: 17px;
}

.optionsClass ul li label {
    opacity: 0.5;
    font-family: 'Lato-Regular';
    line-height: 1.82;
    font-size: 1em;
}

.resetChoises,
.allClasses {
    background: #f4f1e9;
    height: 50px;
}

.resetChoises span,
.allClasses span {
    cursor: pointer;
    display: block;
    text-align: center;
    padding-top: 15px;
    font-family: 'Lato-Bold';
    font-size: 0.915em;
    color: #565656;
}

.classIntensity p {
    text-align: center;
    margin-bottom: 26px;
}

.intensityLevel {
    text-align: center;
    width: 113px;
    margin: 0 auto;
}

.intensityBlock {
    float: left;
    opacity: 0.29;
    margin-left: 5px;
    background: #ada38b;
    height: 26px;
    width: 13.7px;
    cursor: pointer;
}

.intensityBlock.active {
    opacity: 1;
}
.grau1.intensityBlock:hover,.grau2.intensityBlock:hover,.grau3.intensityBlock:hover,.grau4.intensityBlock:hover,.grau5.intensityBlock:hover,.grau6.intensityBlock:hover{
opacity:1;
}
.grau1.intensityBlock.active:hover,.grau2.intensityBlock.active:hover,.grau3.intensityBlock.active:hover,.grau4.intensityBlock.active:hover,.grau5.intensityBlock.active:hover,.grau6.intensityBlock.active:hover{
opacity:.29;
}
/*SCHEDULE*/

.weeklySchedule {
    width: 100%;
    border-radius: 4px;
    background-color: #171614;
}

.dailySchedule {
    width: 100%;
    border-radius: 4px;
    background-color: #171614;
}

.scheduleTime {
    width: 9%;
    float: left;
}

.dayTitle {
    width: 11.5%;
    float: left;
    margin-left: 1%;
    min-height: 5px;
}

.dayTop {
    text-transform: uppercase;
    margin-left: 7px;
    display: block;
    opacity: 0.5;
    font-family: 'Lato-Light';
    font-size: .923em;
    text-align: left;
    margin-top: 61px;
    margin-bottom: -3px;
    color: #FFF;
}

.dayBottom {
    margin-left: 7px;
    text-transform: uppercase;
    display: block;
    font-family: 'Lato-Bold';
    font-size: 1.385em;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 2em;
}

.classBlock {
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 11% 0 12.85% 17.8%;
    text-align: left;
    margin-bottom: 9px;
}

.classBlock span {
    display: block;
}

.weeklySchedule div .hourTime {
    font-family: 'Lato-Bold';
    font-size: 0.846em;
    line-height: 1.82;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: -5px;
}

.weeklySchedule div .className {
    font-family: 'Lato-Bold';
    text-transform: uppercase;
    font-size: 1.154em;
    letter-spacing: 0.4px;
    color: #fff;
    margin-bottom: 0;
}

.orange-bg {
    background-color: #e6772e;
}

.classColor {
    width: 5px;
    height: 23px;
    border-radius: 6.5px;
    position: absolute;
    top: 7px;
    left: -2px;
}

.classColorDetails {
    width: 5px;
    height: 50px;
    border-radius: 6.5px;
    position: absolute;
    top: 7px;
    left: -2px;
}

.blue-bg {
    background-color: #675ec4;
}

.yellow-bg {
    background-color: #babb2c;
}

.green-bg {
    background-color: #6ec050;
}

.bege-bg {
    background-color: #fdc15f;
}

.red-bg {
    background-color: #c9343e;
}
/*to add Color in Category:
You need to add this classes, with this structure:

.classColor.[classClolor]{
border-bottom:0; /*you need to put this allways
background-color: [Color];
};
You have some examples down here.
*/
.classColor.classColorAqua {
    background-color: #00ade0;
    border-bottom:0;
}
.classColor.classColorMartialArts{
    border-bottom:0;
    background-color:#f98d10;
}
.classColor.classColorMindBody{
    border-bottom:0;
    background-color:#fbcd00;
}
.classColor.classColorConditioning{
    border-bottom:0;
    background-color:#f12e15;
}
.classColor.classColorPerformance{
     border-bottom:0;
    background-color:#005a9a;
}
.classColor.classColorDance{
    border-bottom:0;
  background-color:#8b4a97;
}
.vertical-text-morning {
    background: url('../images/morningBeje.png');
    background-repeat: no-repeat;
    background-position: 33px 12px;
}

.vertical-text-afternoon {
    background: url('../images/afternoonBeje.png');
    background-repeat: no-repeat;
    background-position: 33px 12px;
}

.vertical-text-evening {
    background: url('../images/nightBeje.png');
    background-repeat: no-repeat;
    background-position: 36px 37px;
}

.vertical-text-morning .morningSche,
.vertical-text-afternoon .afternoonSche,
.vertical-text-evening .eveningSche {
    text-transform: uppercase;
    margin-left: -5px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: 'Lato-Bold';
    display: block;
    font-size: 1.154em;
    margin-top: 60px;
    margin-left: -7px;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.vertical-text-afternoon .afternoonSche {
    margin-top: 95px;
}

.vertical-text-evening .eveningSche {
    margin-top: 85px;
}

.scheduleBorder {
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0.11;
    background: #FFF;
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 86.7%;
    margin-right: 3.4%;
}

.dailyClass .scheduleBorder {
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0.11;
    background: #FFF;
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 0;
}

.articleDashSchedule {
    width: 32px;
    height: 2px;
    opacity: 0.3;
    display: inline-block;
    margin: 0em 0.5em 0.3em 1.4em;
    background-color: #ffffff;
}

.classBlockDetails {
    padding: 13px 0 0 31px;
    z-index: 2;
    position: absolute;
    width: 119px;
    display: none;
    height: 93px;
    border-radius: 4px;
    background-color: #ffffff;
    left: 421px;
    top: 560px;
}

.hourDetails {
    display: block;
    opacity: 0.4;
    font-family: 'Lato-Bold';
    font-size: 0.846em;
    color: #081d26;
    margin-bottom: 8px;
}

.classDetails {
    display: block;
    font-family: 'Lato-Bold';
    font-size: 1.154em;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #081d26;
    margin-bottom: -4px;
}

.placeDetails {
    text-transform: uppercase;
    display: block;
    font-family: 'Lato-Bold';
    opacity: 0.4;
    font-size: 0.846em;
    color: #081d26;
}

.classBlockDetails a.linkDetails {
    text-transform: uppercase;
    display: block;
    font-family: 'Lato-Bold';
    font-size: 0.846em;
    letter-spacing: 0.4px;
    color: #b3a26c;
}

.dailyClass {
    width: 87%;
    float: left;
}

.dailyClassHeader {
    padding-left: 22px;
}

.dailyClassHeader div {
    opacity: 0.7;
    font-family: 'Lato-Bold';
    font-size: 0.923em;
    color: #ffffff;
}

.dailyClassCorp:nth-child(even) {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.07);
}

.dailyClassCorp:nth-child(odd) {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.02);
}

.dailyClassCorp .dailyAula {
    position: relative;
}

.dailyCross {
    width: 11px;
    height: 11px;
    cursor: pointer;
}

.dailyCross:before,
.dailyCross:after {
    cursor: pointer;
    position: absolute;
    right: 15px;
    content: ' ';
    height: 11px;
    width: 2px;
    background-color: #333;
}

.dailyCross:before {
    transform: rotate(45deg);
}

.dailyCross:after {
    transform: rotate(-45deg);
}

.dailyClassCorp .dailyAula span {
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 1.154em;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.dailyClassCorp .dailyHora span {
    text-transform: uppercase;
    font-family: 'Lato-Light';
    font-size: 1.154em;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.dailyClassCorp .dailyLocal span,
.dailyClassCorp .dailyCategoria span,
.dailyClassCorp .dailyClube span {
    text-transform: uppercase;
    opacity: 0.7;
    font-family: 'Lato-Light';
    font-size: 1.154em;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.dailyAula {
    text-transform: uppercase;
    width: 25%;
}

.dailyHora {
    text-transform: uppercase;
    width: 12%;
}

.dailyLocal,
.dailyCategoria {
    text-transform: uppercase;
    width: 15%;
}

.dailyClube {
    text-transform: uppercase;
    width: 23%;
}

.dailySchedule .ScheduleDays div.active .dayBottom {
    opacity: 1;
}

.dailySchedule .ScheduleDays div .dayBottom {
    opacity: .5;
}

.dayTime {
    width: 84%;
    margin: 0 auto;
}

.dayTime .morning:hover {
    background-image: url(../images/morning.png);
}
.dayTime .morning {
    cursor: pointer;
    width: 24px;
    background-image: url(../images/morningSoftGrey.png);
    float: left;
    height: 15px;
    margin-top: 4px;
    margin-right: 23px;
    background-repeat: no-repeat;
}

.dayTime .morning.active {
    background-image: url(../images/morning.png);
}
.dayTime .morning.active:hover{
    background-image: url(../images/morningSoftGrey.png);
}
.dayTime .afternoon:hover {
    background-image: url(../images/afternoonSoftGrey.png);
}
.dayTime .afternoon {
    cursor: pointer;
    background-image: url(../images/afternoonSoftGrey.png);
    float: left;
    height: 27px;
    background-repeat: no-repeat;
    width: 27px;
    margin-right: 27px;
}
.dayTime .afternoon.active:hover {
    background-image: url(../images/afternoonSoftGrey.png);
}
.dayTime .afternoon.active {
    background-image: url(../images/afternoon.png);
}

.dayTime .evening:hover {
  background-repeat: no-repeat;
    background: url(../images/nightGrey.png);
}
.dayTime .evening {
    cursor: pointer;
    background: url(../images/night.png);
    float: left;
    height: 24px;
    background-repeat: no-repeat;
    width: 24px;
}

.dayTime .evening.active:hover {
  background-repeat: no-repeat;
    background: url(../images/night.png);
}
.dayTime .evening.active {
    background: url(../images/nightGrey.png);
}

.classTime p {
    text-align: center;
    margin-bottom: 25px;
}

.activeCircle {
    display: none;
    float: left;
    background-color: #e5e0ce;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-top: 68px;
}

.dayTitle.active .activeCircle {
    display: block;
}

.opacity {
    opacity: .5;
}

.calendarMode {
    margin-left: 0;
}

.dayTime.section.group {
    margin: 0 auto
}


@media screen and (max-width:1279px) {
    .schedule {
        width: 100%;
    }
    .dayTime{
      width: 90%;
    }
    .searchGym, .searchClass {
    background-position: 196px;
  }
}
@media screen and (max-width:1145px) {
  .dayTime {
      width: 94%;
  }
  .searchGym input, .searchClass input {
    margin: 11px 0 9px 9px;
  }
}
@media screen and (max-width:1024px) {
  .dayTime .morning {
    margin-right: 20px;
  }
  .dayTime {
    width: 100%;
}
.vertical-text-morning .morningSche, .vertical-text-afternoon .afternoonSche, .vertical-text-evening .eveningSche {
    width: 134%;
    }
    .dayBottom{
      font-size: 0.985em;
    }
}
